.sidebar {
    width: 240px;
    background-color: #2c2c3d;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}


.sidebar a {
    padding: 10px;
    margin-bottom: 10px;
    color: #a1a1b3;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #ffffff;
}

Button.bookmarkListButton{
    color : #a1a1b3
}

Button.bookmarkListButton:hover{
    color: white;
}

* {
    color : white;
}

.categoryLabel {
    color: #fff; /* 글자색 */
    background-color: #007FFF; /* 배경색 */
    padding: 8px 16px; /* 패딩 */
    border-radius: 8px; /* 모서리 둥글기 */
    margin: 4px; /* 마진 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myPageCategoryFilter .MuiFormControlLabel-root {
    color: white; /* 변경할 글자 색상 */
    margin-bottom: 8px; /* 간격 조정 */
}

.myPageCategoryFilter .MuiCheckbox-root {
    color: blue; /* 체크박스 색상 변경 */
}